{% load static %}
{% include '../links/link.html' %}
{% include './sub-header.html' %}
<div class="container pt-5 mt-5">


    <!-- ========SYSTEM MESSAGES======== -->
    <div class="message-container my-5">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="text-official text-center">
            <small class="px-5 py-3 border border-success border-success-emphasis rounded">
                <span><i class="icofont-check-circled"></i>&nbsp;{{message}}</span>
            </small>
        </div>
        {% elif message.tags == 'error' %}
        <div class="text-danger text-center position-relative">
            <small class="alert alert-danger text-danger">
                <span><i class="icofont-exclamation-circle"></i>&nbsp;{{message}}</span>
            </small>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <!-- ======PAGE CONTENT===== -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 py-4">
            
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
            <div class="section-header ">
                <h3>Create Your Post</h3>
            </div>
            <form action="{% url 'create_post' %}" enctype="multipart/form-data" method="POST" class="px-3" >
                {% csrf_token %}
                {% for field in post_form %}
                <label class="mt-2">{{field.label}}</label>
                <div class="" >{{field}}</div>
                <h6 class="text-danger mt-0 pt-0">{{field.errors}}</h6>
                {% endfor %}
                {% for field in image_form %}
                <label class="mt-2">{{field.label}}</label>
                {{field}}
                <h6 class="text-danger mt-0 pt-0">{{field.errors}}</h6>
                {% endfor %}
                <div class="text-center my-5">
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            
        </div>
    </div>
    <div class="post-container my-5">
        <div class="section-header ">
            <h3>Created Post</h3>
        </div>
        <div class="posts">
            {% for post in recent_post %}
            <div class="item-container">
                <a href="{% url 'post_view' post.id %}">
                <p class="post-title">{{post.title}}</p>
                <p class="post-description">{{post.text}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ========PAGE CONTAINER END======= -->
{% include '../links/scripts.html' %}