{% load static %}
{% include '../links/link.html' %}
{% include './sub-header.html' %}
<div class="container pt-5 mt-5">
  
    
    <!-- ========SYSTEM MESSAGES======== -->
    <div class="message-container my-5">
        
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <h5 class="text-official text-center">
            <span class="px-5 py-3 border border-success rounded">
                {{message}}
                <i class="icofont-tick-boxed"></i>
            </span>
        </h5>
        {% elif message.tags == 'error' %}
        <h5 class="text-danger text-center">
            <span class="px-5 py-3 border border-danger rounded">
                <i class="icofont-close-line-squared-alt"></i>
                {{message}}
            </span>
        </h5>
        {% endif %}
        {% endfor %}
        {% endif %}
        
    </div>
    <!-- ======PAGE CONTENT===== -->
    
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="section-header ">
                <h3>Sign In</h3>
                <p class="text-small">to continue sign in to your account</p>
            </div>
            
            <form action="{% url 'signin' %}" method="POST">
                {% csrf_token %}
                
                <label for="username" class=" d-block">Username</label>
                <input 
                type="text" 
                id="username" 
                name="username" 
                class="form-control  shadow-none"
                placeholder="username">
                
                <label for="password" class="mt-2 d-block">Password</label>
                <input type="password" 
                id="password" 
                name="password" 
                class="form-control shadow-none"
                placeholder="password">
                <div class="">
                    <h6 class="text-right"><a href="">forgot password</a></h6>
                    <p>Don't have account?
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </p>
                </div>
                <div class="text-center my-3">
                    <button type="submit">Sign in</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            
        </div>
    </div>
</div>
{% include '../links/scripts.html' %}
