<section>
    <!-- ======PAGE CONTENT===== -->
    <div class="section-header mb-3">
        <h3>Add Team</h3>
    </div>
    <div>
        <form action="{% url 'add_team' %}" enctype="multipart/form-data" method="POST" class="px-3 w-full" >
            {% csrf_token %}
            <div class="row">
            {% for field in team_form %}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label>{{field.label}}</label>
                    {{field}}
                    <small class="d-block text-danger mt-0 pt-0">{{field.errors}}</small>
                </div>
            {% endfor %}
            </div>
            {{image_form}}
            <div class="text-center my-3">
                <button type="submit">ADD</button>
            </div>
        </form>
    </div>
    <hr>
    <h5 class="my-2 text-center">
        Team Members
    </h5>
    {% if team_member %}
    
        <div class="row my-2">
            {% for p in team_member %}
            <div class="col-1">
                <img src="{{p.user.profile.picture.url}}"
                 width="70px" height="70px" 
                 class="d-inline object-cover shadow rounded-circle border border-5 border-success" alt="">
            </div>
            <div class="col-11 py-3">
                <h5 class="d-inline font-weight-bold">{{p.user.get_full_name}}
                    <a href="{{p.facebook}}" class="mx-1 bg-light rounded-circle p-2">
                        <i class="icofont-facebook"></i>
                    </a>
                    <a href="{{p.linkedin}}" class="mx-1 bg-light rounded-circle p-2">
                        <i class="icofont-linkedin"></i>
                    </a>
                    <a href="{{p.twitter}}" class="mx-1 bg-light rounded-circle p-2">
                        <i class="icofont-twitter"></i>
                    </a>
                </h5><br>

                <h6 class="d-inline">{{p.user.profile.position}}</h6>
                <div class="">
                    <span>
                        <a href="{% url 'delete_team' p.id %}" class="text-danger confirm-delete">
                            <i class="icofont-trash px-3 border py-1 bg-light rounded"></i>
                        </a>
                    </span>
                    <span>
                        <a href="{% url 'update_team' p.id %}">
                            <i class="icofont-pencil-alt-2 px-3 border py-1 bg-light rounded"></i>
                        </a>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="text-center my-3">
            <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 512 512">
                <path fill="#cfcfcf" d="M386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H464c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0s-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3s163.8-62.5 226.3 0L386.3 160z"/>
            </svg>
            <h5 class="p-0 m-0">No Team Member Found !.</h5>
            <small class="text-dark">Lets create one !</small>
        </div>
        {% endif %}
</section>
