{% load static %}
{% include '../links/link.html' %}
<!-- {% include '../links/bootstrap_cdn.html' %} -->
{% include '../forms/sub-header.html' %}
<div class="container">
   <!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Dashboard</h2>
        <ol>
          <li><a href="{%  url 'index' %}">Home</a></li>
          <li><a href="{% url 'add_project' %}">Add Project</a></li>
          <li>Dashboard</li>
        </ol>
      </div>
    </div>
  </section><!-- Breadcrumbs Section -->
</div>

    <!-- ======PAGE CONTENT===== -->
   <!-- ========SYSTEM MESSAGES======== -->
   <div class="message-container my-5">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="text-official text-center">
        <small class="px-5 py-3 border border-success border-success-emphasis rounded">
            <span><i class="icofont-check-circled"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% elif message.tags == 'error' %}
    <div class="text-danger text-center position-relative">
        <small class="alert alert-danger text-danger">
            <span><i class="icofont-exclamation-circle"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>

    <!-- ======PAGE CONTENT===== -->
<!-- <div class="main-section my-3">
    <div class="row">
        <div class="menu-container col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right shadow">
            <div class="my-2 p-3 rounded bg-light dropdown-handler border border-secondary-subtle">
                <span role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="22" class="d-lg-none d-md-none d-sm-inline pb-1"
                    viewBox="0 0 128 512">
                        <path d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 
                        1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
                    </svg>
                    <h5 class="d-inline text-lg-center text-md-center text-sm-start d-md-block d-lg-block">Menu</h5>
                </span> 
                
            </div>
            
            <ul type="none" class="px-3 d-lg-block d-md-block dropdown-content d-sm-none">
                {% if flag == '1' %}
                <li data-aos-delay="100">
                    <h5 class="px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 1 %}"> Contact</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h5 class="title py-3 px-2 m-0">
                        <a href="{% url 'dashboardRoute' 1 %}">Contact</a> 
                    </h5>
                </li>
                {% endif %}
                {% if  flag == '2' %}
                <li data-aos-delay="100">
                    <h5 class="px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 2 %}"> Skills</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h5 class="title py-3 px-2 m-0">
                        <a href="{% url 'dashboardRoute' 2 %}">Skills</a>
                    </h5>
                </li>
                {% endif %}
                {% if flag == '3' %}
                <li data-aos-delay="100">
                    <h5 class="px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 3 %}"> Query</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h5 class="title py-3 px-2 m-0">
                       <a href="{% url 'dashboardRoute' 3 %}"> Query</a>
                    </h5>
                </li>
                {% endif %}
                {% if flag == '4' %}
                <li data-aos-delay="100">
                    <h5 class="px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 4 %}"> Team</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h5 class="title py-3 px-2 m-0">
                       <a href="{% url 'dashboardRoute' 4 %}"> Team</a>
                    </h5>
                </li>
                {% endif %}
                {% if flag == '5' %}
                <li data-aos-delay="100">
                    <h5 class="px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 5 %}">Project</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h5 class="title py-3 px-2 m-0">
                       <a href="{% url 'dashboardRoute' 5 %}">Project</a>
                    </h5>
                </li>
                {% endif %}
                {% if flag == '6' %}
                <li data-aos-delay="100">
                    <h5 class="px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 6 %}">Publish News</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h5 class="title py-3 px-2 m-0">
                       <a href="{% url 'dashboardRoute' 6 %}">Publish News</a>
                    </h5>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="main-content col-lg-10 cl-md-10">
            {% if flag == '1' %}
            {% include 'admin/contact.html' %}
            {% elif flag == '2' %}
            {% include 'admin/skill.html' %}
            {% elif flag == '3' %}
            {% include 'admin/query.html' %}
            {% elif flag == '4' %}
            {% include 'admin/add_team.html' %}
            {% elif flag == '5' %}
            {% include 'admin/add_project_form.html' %}
            {% elif flag == '6' %}
            {% include 'admin/publish_news.html' %}
            {% endif %}
        </div>
    </div>
</div> -->
<div class="">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h3 href="#" class="text-center">Menu</h3>
        {% if flag == '1' %}
            <a class="text-light" href="{% url 'dashboardRoute' 1 %}"> Contact</>
        {% else %}
            <a href="{% url 'dashboardRoute' 1 %}">Contact</a> 
        {% endif %}
        {% if  flag == '2' %}
            <a class="text-light" href="{% url 'dashboardRoute' 2 %}"> Skills</a>
        {% else %}
            <a href="{% url 'dashboardRoute' 2 %}">Skills</a>
        {% endif %}
        {% if flag == '3' %}
            <a class="text-light" href="{% url 'dashboardRoute' 3 %}"> Query</a>
        {% else %}
            <a href="{% url 'dashboardRoute' 3 %}"> Query</a>
        {% endif %}
        {% if flag == '4' %}
            <a class="text-light" href="{% url 'dashboardRoute' 4 %}"> Team</a>
        {% else %}
            <a href="{% url 'dashboardRoute' 4 %}"> Team</a>
        {% endif %}
        {% if flag == '5' %}
            <a class="text-light" href="{% url 'dashboardRoute' 5 %}">Project</a>
        {% else %}
            <a href="{% url 'dashboardRoute' 5 %}">Project</a>
        {% endif %}
        {% if flag == '6' %}
            <a class="text-light" href="{% url 'dashboardRoute' 6 %}">Publish News</a>
        {% else %}
            <a href="{% url 'dashboardRoute' 6 %}">Publish News</a>
        {% endif %}
    </div>
    <span style="font-size:20px;cursor:pointer;margin-left: 10px;" onclick="openNav()">&#9776; open menu</span>
    <section id="main-section" class="p-4">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12">
            {% if flag == '1' %}
            {% include 'admin/contact.html' %}
            {% elif flag == '2' %}
            {% include 'admin/skill.html' %}
            {% elif flag == '3' %}
            {% include 'admin/query.html' %}
            {% elif flag == '4' %}
            {% include 'admin/add_team.html' %}
            {% elif flag == '5' %}
            {% include 'admin/add_project_form.html' %}
            {% elif flag == '6' %}
            {% include 'admin/publish_news.html' %}
            {% endif %}
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 bg-white border rounded ">
                <div class="py-4">
                    <h6 class="text-center font-weight-bold">
                        Lates News Running
                    </h6>
                </div>
                {% if news %}
                    <ol>
                    {% for new in news %}
                    <li>
                        <h6 class="p-0 m-0">{{new.headline}}</h6>
                        <small>{{new.body_text}}</small>
                        <h5>
                            <a href="{% url 'delete_news' new.id %}" class="confirm-delete">
                                <i class="icofont-ui-delete mr-3 text-danger"></i>
                            </a>
                            <a href="{% url 'update_news' new.id %}"><i class="icofont-law-document"></i></a>
                            <small class="ml-3 mr-2">status</small>
                            {% if not forloop.counter > 5 %}
                            <div class="typing d-inline px-5">
                                <span class="m-2"></span>
                                <span class="my-2 mx-3"></span>
                                <span class="my-2 ml-4"></span>
                            </div>
                            {% endif %}
                        </h5>
                    </li>
                    {% endfor %}
                    </ol>
                {% else %}
                <div class="">
                    We could'nt find any news !
                </div>
                {% endif %}
            </div>
        </div>
    </section>

</div>
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "275px";
      document.getElementById("main-section").style.marginLeft = "275px";
      
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main-section").style.marginLeft = "0";

    }
</script>
    
    
 
   


<!-- ========PAGE CONTAINER END======= -->
{% include '../links/scripts.html' %}
<!-- {% include '../links/bootstrap_cdn_js.html' %} -->