{% load static %}
{% include '../links/link.html' %}
{% include '../forms/sub-header.html' %}
<div class="container">

   <!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Dashboard</h2>
        <ol>
          <li><a href="{%  url 'index' %}">Home</a></li>
          <li><a href="{% url 'add_project' %}">Add Project</a></li>
          <li>Home</li>
          <li>Skills</li>
          <li>Team</li>
          <li>Project</li>
          <li>Dashboard</li>
        </ol>
      </div>
    </div>
  </section><!-- Breadcrumbs Section -->
    <!-- ======PAGE CONTENT===== -->
   <!-- ========SYSTEM MESSAGES======== -->
   <div class="message-container my-5">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="text-official text-center">
        <small class="px-5 py-3 border border-success border-success-emphasis rounded">
            <span><i class="icofont-check-circled"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% elif message.tags == 'error' %}
    <div class="text-danger text-center position-relative">
        <small class="alert alert-danger text-danger">
            <span><i class="icofont-exclamation-circle"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>
</div>
    <!-- ======PAGE CONTENT===== -->
<div class="main-section my-3">
    <div class="row">
        <div class="menu-container col-lg-2 cl-md-2 border-right">
            <div class="my-2 text-center">
                <h3 class="text-black">Menu</h3>
            </div>
            <ul type="none" class="px-1">
                {% if flag == '1' %}
                <li data-aos-delay="100">
                    <h5 class="font-weight-bold px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 1 %}"> Contact</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h3 class="title py-3 px-2 m-0">
                        <a href="{% url 'dashboardRoute' 1 %}">Contact</a> 
                    </h3>
                </li>
                {% endif %}
                {% if  flag == '2' %}
                <li data-aos-delay="100">
                    <h5 class="font-weight-bold px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 2 %}"> Skills</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h3 class="title py-3 px-2 m-0">
                        <a href="{% url 'dashboardRoute' 2 %}">Skills</a>
                    </h3>
                </li>
                {% endif %}
                {% if flag == '3' %}
                <li data-aos-delay="100">
                    <h5 class="font-weight-bold px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 3 %}"> Query</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h3 class="title py-3 px-2 m-0">
                       <a href="{% url 'dashboardRoute' 3 %}"> Query</a>
                    </h3>
                </li>
                {% endif %}
                {% if flag == '4' %}
                <li data-aos-delay="100">
                    <h5 class="font-weight-bold px-2 m-0 py-3 bg-light">
                       <a href="{% url 'dashboardRoute' 4 %}"> Team</a>
                    </h5>
                </li>
                {% else %}
                <li class="" id="menu-item" data-aos-delay="100">
                    <h3 class="title py-3 px-2 m-0">
                       <a href="{% url 'dashboardRoute' 4 %}"> Team</a>
                    </h3>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="main-content col-lg-10 cl-md-10">
            {% if flag == '1' %}
            {% include 'admin/contact.html' %}
            {% elif flag == '2' %}
            {% include 'admin/skill.html' %}
            {% elif flag == '3' %}
            {% include 'admin/query.html' %}
            {% elif flag == '4' %}
            {% include 'admin/add_team.html' %}
            {% endif %}
        </div>
    </div>
</div>

<!-- 
    <section>
    <div class="section-header">
        <h3>
            Home
        </h3>
        <h6 class="text-center"><i class="icofont-gear"></i>&nbsp;Home setting</h6>
    </div>
    </section> -->
    
    
 
   


<!-- ========PAGE CONTAINER END======= -->
{% include '../links/scripts.html' %}