{% load static %}
{% include '../links/link.html' %}
{% include '../forms/sub-header.html' %}
<div class="container">

   <!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Dashboard</h2>
        <ol>
          <li><a href="{%  url 'index' %}">Home</a></li>
          <li><a href="{% url 'add_project' %}">Add Project</a></li>
          <li>Home</li>
          <li>Skills</li>
          <li>Team</li>
          <li>Project</li>
          <li>Dashboard</li>
        </ol>
      </div>
    </div>
  </section><!-- Breadcrumbs Section -->
    <!-- ======PAGE CONTENT===== -->
   <!-- ========SYSTEM MESSAGES======== -->
   <div class="message-container my-5">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="text-official text-center">
        <small class="px-5 py-3 border border-success border-success-emphasis rounded">
            <span><i class="icofont-check-circled"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% elif message.tags == 'error' %}
    <div class="text-danger text-center position-relative">
        <small class="alert alert-danger text-danger">
            <span><i class="icofont-exclamation-circle"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>

    <!-- ======PAGE CONTENT===== -->
    <section>
    <div class="section-header">
        <h3>
            Home
        </h3>
        <h6 class="text-center"><i class="icofont-gear"></i>&nbsp;Home setting</h6>
    </div>
    </section>
    <section class="border rounded shadow p-5">
        <div class="section-header">
            <h3>
                Contact Information
            </h3>
            <h6 class="text-center"><i class="icofont-gear"></i>&nbsp;Contact setting</h6>
            <form action="{% url 'dashboard' %}" method="POST">
                {% csrf_token %}
            <div class="row">
                {% for field in contact_form %}
                <div class="col-lg-4 col-md-4 col-sm-12 px-3">
                    <label>{{field.label}}</label>
                    {{field}}
                    <small class="text-danger">{{field.errors}}</small>
                </div>
                {% endfor %}
            </div>
            <div class="text-center my-3">
                <button type="submit">Save</button>
            </div>
        </form>
        {% for contact in info %}
        <div class="border shadow row text-center ">
            <div class="col-lg-4 col-md-4 col-sm-12 border-right border-success pt-3">
                <h6 class="font-weight-bold"><i class="icofont-ui-email text-success"></i>&nbsp;Email</h6>
                <h6 class="">{{contact.email}}</h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 border-right border-success pt-3">
                <h6 class="font-weight-bold"><i class="icofont-phone text-success"></i>&nbsp; Phone Number</h6>
                <h6 class="">{{contact.phone}}</h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pt-3">
                <h6 class="font-weight-bold"><i class="icofont-location-pin text-success"></i>Address</h6>
                <h6 class="">{{contact.address}}</h6>
            </div> 
        </div>
        {% endfor %}
        <div class="text-center mt-3">
            <button class="btn btn-info text-center">update</button>
        </div>
        </div>
    </section>
 
   
</div>

<!-- ========PAGE CONTAINER END======= -->
{% include '../links/scripts.html' %}