<section>
    <div class="section-header">
        <h3>User Management</h3>
    </div>
    <div class="bg-light rounded p-2 text-success">
        <h4 class="">Active Users</h4>
    </div>
    <div class="">
        <ul type="none">
            {% for user in users %}
            {% if user.is_active %}
            <li class="p-2" style="position: relative;">
                {% if user.get_full_name == '' %}
                Administrator
                {% else %}
                {{user.get_full_name}}
                {% endif %}
                <span style="position: absolute; top: 5%; right: 5%;">
                    <a href="{% url 'update_profile' user.id %}">
                        <h5 class="d-inline">
                            <i class="icofont-safety"></i>
                        </h5>
                        <small class="manage-access">Manage Access</small>
                    </a>
                </span>
            </li>
            {% endif %}
            {%  endfor %}
        </ul>
    </div>
    <div class="bg-light rounded p-2 text-warning">
        <h4 class="">Deactive Users</h4>
    </div>
    <div class="">
        {% for user in users %}
        {% if not user.is_active %}
        {{user.get_full_name}}
        {% endif %}
        {%  endfor %}
    </div>
</section>