{% load static %}
{% include '../links/link.html' %}
<!-- {% include '../links/bootstrap_cdn.html' %} -->
{% include '../forms/sub-header.html' %}
<div class="container mt-5 pt-5">
    <section class="border rounded p-5">
        {% if feature %}
        <div class="my-5">
            <h3 class="text-center pb-0 mb-0">Features Management</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 border-right">
                <ul type="none" id="features">
                    {% for f in feature %}
                    <li class="py-3"
                    data-feature-form-id="{{f.id}}"
                    data-feature-form-name="{{f.name}}">
                        <a href="{% url 'delete_feature' f.id %}" 
                        class="btn me-4 btn-sm btn-light border border-danger-subtle text-danger confirm-delete">
                            <i class="icofont-ui-delete"></i>
                        </a>
                        <i class="icofont-pencil-alt-2"></i>&nbsp;{{f.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="feature-form" style="display: none;" class="px-5">
                    <input type="text" name="feature-name" id="feature-name">
                    <input type="number" name="feature-id" id="feature-id" style="display: none;">
                    <div class="mt-3">
                        <button class="btn btn-sm btn-light" id="update-button" data-self-declare="update" >update</button>
                    </div>
                </div>
            </div>
        </div>
            
        {% elif technology %}
        THE TECHNOLOGY MANAGEMENT
        {% endif %}
    </section>
</div>

<script>
    const featureId = document.querySelector("#features").addEventListener('click', function(e) {
        document.getElementById("feature-form").style.display = 'block';
        document.getElementById("feature-name").value = e.target.dataset.featureFormName;
        document.getElementById("feature-id").value = e.target.dataset.featureFormId

    });
    const updateFeature = document.querySelector("#update-button").addEventListener('click', function(e){
        e.preventDefault();
        feature_name = document.getElementById("feature-name").value;
        feature_id = document.getElementById("feature-id").value;

        

        formData = new FormData();
        formData.append('feature_name', feature_name);
        formData.append('feature_id', feature_id);
 
        formData.append('csrfmiddlewaretoken','{{csrf_token}}');
        console.log(formData);
        fetch('{% url "update_feature" %}', {
            method: 'POST',
            body: formData
        }).then(response => response.json()).then(data =>{
            window.location.href = "{% url 'manage_feature_technology' 'f' %}";
        }).catch(error => {
            console.log(error);
        });
    });
</script>
{% include '../links/scripts.html' %}
<!-- {% include '../links/bootstrap_cdn_js.html' %} -->