{% load static %}
<section id="facts" class="pt-20 video-counter">
    <div class="container">
        <div class="row">
            <div class="w-full lg:w-1/2">
                <div class="relative pb-8 mt-12 video-content wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img class="absolute bottom-0 left-0 -ml-8 dots" src="{% static 'images/dots.svg' %}" alt="dots">
                    <div class="relative mr-6 rounded-lg shadow-md video-wrapper">
                        <div class="video-image">
                            <img src="{% static 'images/video.png' %}" alt="video">
                        </div>
                        <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full bg-blue-900 bg-opacity-25 rounded-lg video-icon">
                            <a href="https://www.youtube.com/watch?v=r44RKWyfcFw" class="video-popup"><i class="lni lni-play"></i></a>
                        </div>
                    </div> <!-- video wrapper -->
                </div> <!-- video content -->
            </div>
            <div class="w-full lg:w-1/2">
                <div class="pl-0 mt-12 counter-wrapper lg:pl-16 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="counter-content">
                        <div class="mb-8 section-title">
                            <div class="line"></div>
                            <h3 class="title">Cool facts <span> about this app</span></h3>
                        </div> <!-- section title -->
                        <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div> <!-- counter content -->
                    <div class="row no-gutters">
                        <div class="flex items-center justify-center single-counter counter-color-1">
                            <div class="text-center counter-items">
                                <span class="text-2xl font-bold text-white"><span class="counter">125</span>K</span>
                                <p class="text-white">Downloads</p>
                            </div>
                        </div> <!-- single counter -->
                        <div class="flex items-center justify-center single-counter counter-color-2">
                            <div class="text-center counter-items">
                                <span class="text-2xl font-bold text-white"><span class="counter">87</span>K</span>
                                <p class="text-white">Active Users</p>
                            </div>
                        </div> <!-- single counter -->
                        <div class="flex items-center justify-center single-counter counter-color-3">
                            <div class="text-center counter-items">
                                <span class="text-2xl font-bold text-white"><span class="counter">4.8</span></span>
                                <p class="text-white">User Rating</p>
                            </div>
                        </div> <!-- single counter -->
                    </div> <!-- row -->
                </div> <!-- counter wrapper -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>