        <!-- 
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static '/img/portfolio/app1.jpg' %}" class="img-fluid" alt="">
              <a href="{% static '/img/portfolio/app1.jpg' %}" data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="#">App 1</a></h4>
              <p>App</p>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'img/portfolio/web3.jpg' %}" class="img-fluid" alt="">
              <a href="{% static 'img/portfolio/web3.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a>
              <a href="{% url 'portfolio' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="{% url 'portfolio' %}">Web 3</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'img/portfolio/app2.jpg' %}" class="img-fluid" alt="">
              <a href="{% static 'img/portfolio/app2.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="App 2"><i class="ion ion-eye"></i></a>
              <a href="{% url 'portfolio' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="{% url 'portfolio' %}">App 2</a></h4>
              <p>App</p>
            </div>
          </div>
        </div> -->
        
        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'img/portfolio/card2.jpg' %}" class="img-fluid" alt="">
              <a href="{% static 'img/portfolio/card2.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Card 2"><i class="ion ion-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="#">{{blog.title}}</a></h4>
              <p>Blog</p>
            </div>
          </div>
        </div> -->
        
        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static '/img/portfolio/web2.jpg' %}" class="img-fluid" alt="">
              <a href="{% static '/img/portfolio/web2.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Web 2"><i class="ion ion-eye"></i></a>
              <a href="{% url 'portfolio' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="{% url 'portfolio' %}">Web 2</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'img/portfolio/app3.jpg' %}" class="img-fluid" alt="">
              <a href="{% static 'img/portfolio/app3.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="App 3"><i class="ion ion-eye"></i></a>
              <a href="{% url 'portfolio' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="{% url 'portfolio' %}">App 3</a></h4>
              <p>App</p>
            </div>
          </div>
        </div> -->
                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="{% static 'img/portfolio/card3.jpg' %}" class="img-fluid" alt="">
              <a href="{% static 'img/portfolio/card3.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Card 3"><i class="ion ion-eye"></i></a>
              <a href="{% url 'portfolio' %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="{% url 'portfolio' %}">Card 3</a></h4>
              <p>Card</p>
            </div>
          </div>
        </div> -->