{% include 'links.html' %}
<div class="container">
    
    <div class="grid grid-cols-4 mt-32 gap-4 fadeInUp wow">
        <div>
        </div>
        <div class="col-span-2">
            <div class="mx-44 my-5 w-1/2">
                <p class="text-2xl font-bold text-center">Sign In</p>
                <p class="small text-center">to continue please sign in </p>
            
                <form action="" class="my-10">
                    <!-- {{csrf_token}} -->
                    <label for="username" class="block text-start">Username</label>
                    <input type="text" id="username" name="username" 
                    placeholder="username"
                    required
                    class="px-3 w-full py-3 outline-none border border-sky-500 rounded focus:border-red-500">
                    
                    <label for="password" class="block text-start mt-4">Password</label>
                    <input type="text" id="password" name="password"
                    placeholder="password" 
                    required
                    class=" px-3 w-full py-3 outline-none border border-sky-500 rounded focus:border-red-500">
                    <h6 class="text-end text-red-400 hover:text-red-600 text-sm cursor-pointer">forgot password</h6>
                    <h6 class="text-start text-teal-500">don't have account. <span class="hover:text-teal-700 cursor-pointer">Sign up</span></h6>
                    <div class="flex justify-center mt-10">
                        <button class="main-btn gradient-btn gradient-btn-2">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
{% include 'scripts.html' %}