{% load static %}
{% include 'links.html' %}
<div class="text-center mt-10">
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <span class="border border-red-500 rounded bg-red-100 text-red-600 px-10 py-4">{{message}}</span>
        {% elif message.tags == 'success' %}
            <span class="border border-green-500 rounded bg-green-100 text-green-600 px-10 py-4">{{message}}</span>
        {% endif%}
    {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-4 m-10">
        <div class="side">
            <a href="{% url 'index' %}">
                <p class="text-teal-500 hover:text-red-600 duration-500 cursor-pointer wow fadeInLeftBig">
                    <span class="text-4xl">&#8592;</span>
                    &nbsp;Back to home
                </p>
            </a>
        </div>
        <div class="">
            <h3 class="font-bold text-center">Post your blog</h3>
            <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for form in blog_post %}
                <label>{{form.label}}</label>
                <div>{{form}}</div>
                <p class="text-sm">{{form.errors}}</p>
                {% endfor %}
                {% for form in post_formset %}
                <label class="block mt-3">{{form.label}}</label>
                {{form}}
                {{form.errors}}
                {% endfor %}
                <div class="flex justify-center mt-10">
                    <button class="main-btn gradient-btn gradient-btn-3">save</button>
                </div>
            </form>
        </div>
        <div class="side">
            
        </div>
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
{% include 'scripts.html' %}