{% load static %}
{% include './links/link.html' %}
{% include './forms/sub-header.html' %}
{% load hitcount_tags %}

<div class="container mt-5">


    <!-- ======= Breadcrumbs Section ======= -->
    <!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Projects</h2>
        <ol>
          <li><a href="{%  url 'index' %}">Home</a></li>
          <li><a href="{% url 'add_project' %}">Add Project</a></li>
          <li>Projects</li>
        </ol>
      </div>
    </div>
  </section><!-- Breadcrumbs Section -->
  <!-- ========SYSTEM MESSAGES======== -->
  <div class="message-container my-5">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="text-official text-center">
        <small class="px-5 py-3 border border-success border-success-emphasis rounded">
            <span><i class="icofont-check-circled"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% elif message.tags == 'error' %}
    <div class="text-danger text-center position-relative">
        <small class="alert alert-danger text-danger">
            <span><i class="icofont-exclamation-circle"></i>&nbsp;{{message}}</span>
        </small>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
    <!-- ======PAGE CONTENT===== -->
    <div class="section-header mb-3">
        <h3>Projects</h3>
    </div>
    <section id="portfolio" >
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for app in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                  <figure>
                    <img src="{% static 'img/portfolio/web1.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'img/portfolio/web1.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Web 1"><i class="ion ion-eye"></i></a>
                    <a href="{% url 'portfolio' app.id %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </figure>
      
                  <div class="portfolio-info">
                    <h4><a href="{% url 'upload_image' app.id %}">{{app.name}}</a></h4>
                    {% for tech in app.technology.all %}
                    <p class="d-inline">{{tech.name}}</p> |
                    {% endfor %}
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
    <div class="mt-2">
      <h4><a href="#">
        <i class="icofont-tools-alt-2"></i></i>&nbsp;Manage Projects
      </a></h4>
    </div>
  </section>
  <div class="section-header mb-3">
    <h3>Posts</h3>
  </div>
  <section id="portfolio" >
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for post in posts %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                  <figure>
                    <img src="{% static 'img/portfolio/web1.jpg' %}" class="img-fluid" alt="">
                    <a href="{% static 'img/portfolio/web1.jpg' %}" class="link-preview venobox" data-gall="portfolioGallery" title="Web 1"><i class="ion ion-eye"></i></a>
                    <a href="{% url 'post_view' post.id %}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                  </figure>
                  <div class="portfolio-info">
                    <p><a href="{% url 'post_view' post.id %}" class="heading modernWay">{{post.title}}</a></h5>
                    <small class="d-inlne modernWay">{{post.text}}</small>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
    <div class="mt-2">
      <h4><a href="#">
        <i class="icofont-tools-alt-2"></i></i>&nbsp;Manage Posts
      </a></h4>
    </div>
  </section>
    
</div>
<!-- ========PAGE CONTAINER END======= -->
{% include './links/scripts.html' %}