{% include 'links.html' %}
<div class="text-center mt-10">
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <span class="border border-red-500 rounded bg-red-100 text-red-600 px-10 py-4">{{message}}</span>
        {% elif message.tags == 'success' %}
            <span class="border border-green-500 rounded bg-green-100 text-green-600 px-10 py-4">{{message}}</span>
        {% endif%}
    {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="grid lg:grid-cols-3 sm:grid-cols-1 mt-10 gap-4 ">
        <div class="fadeInUp wow">
            <a href="{% url 'index' %}">
                <p class="text-teal-500 hover:text-red-600 duration-500 cursor-pointer wow fadeInLeftBig">
                    <span class="text-4xl">&#8592;</span>
                    &nbsp;Back to home
                </p>
            </a>
        </div>
        
        <div class="">
            <div class="">
                <p class="text-2xl font-bold text-center">Sign Up</p>
                <p class="small text-center">please enter your correct asked details </p>
            
                <form action="{% url 'signup' %}" method="POST" class="my-10 px-10">
                    {% csrf_token %}
                   
                    {% for form in user_form %}
                    <div class="mt-2">
                        <label class="">{{form.label}}</label>
                        <div class="">{{form}}</div>
                        <span class="text-sm text-red-500">{{form.errors}}</span>
                    </div>
                    {% endfor %}
                    <div class="my-2">
                        <input type="checkbox" 
                        class="accent-teal-500 hover:accent-red-500 duration-500 w-4 h-4" 
                        id="terms-conditions" required>
                        <label for="terms-conditions">
                            I am agree to <a href="#" class="text-sky-600 hover:text-red-500 duration-500">terms and conditions</a>
                        </label>
                    </div>
                    <div class="flex justify-center mt-10">
                        <button class="main-btn gradient-btn gradient-btn-2">Sign Up</button>
                    </div>
                    
                </form>
            </div>
            <h6 class="text-start text-teal-500 my-3">already have account. 
                <a href="{% url 'signin' %}">
                    <span class="hover:text-red-700 cursor-pointer">Sign In</span>
                </a>
            </h6>
        </div>
        <div>
        </div>
    </div>
</div>

<script src="https://cdn.tailwindcss.com"></script>
{% include 'scripts.html' %}